html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #a5a5a5; /* cinza claro */
}

.card,
.modal-content {
  background-color: #333;
  color: #a5a5a5; /* cinza claro */
}

.card-header,
.modal-header,
.modal-footer {
  font-weight: bold;
  border-bottom: 1px solid #444;
  background-color: #444;
  color: #a5a5a5; /* cinza claro */
}

.card-body,
.modal-body {
  background-color: #333;
  color: #a5a5a5; /* cinza claro */
}

.form-label {
  margin-top: 0.5rem;
  margin-bottom: 0.125rem;
}

.card-text {
  margin-bottom: 0.5rem;
}

.etiqueta {
  color: #000;
  padding: 0 0.5rem  0 0.5rem;
  margin: 0 0.5rem 0 0;
}